
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Profile page for your group members" />
    <title>Profile page</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap"rel="stylesheet"/>
    <link rel="stylesheet" href="styles/aboutMe.css" />
    
    </head>
  
  <!-- Body of the HTML page -->
  <body class="ColorBack">

    <!-- <button id="toggleButton">Abrir/Fechar Retângulo</button> -->

    <!-- Background image -->
    <img src="images/fundo-branco.png" class="fundobranco"/> 

    <!-- Link to Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Header section -->
    <header>
      <nav class="Headers">
        <div class="GroupColor">
          <p><%= user.group && user.group.name ? user.group.name : 'Group' %></p>
        </div>

        <div class="Pages">
          <a href="/teampage"><p>Team</p></a>
          <a href="/questions"><p>Rating</p></a>
        </div>
  
        <div class="profileInfo">
          <a href="/aboutme" class="ColorName"><p><%= user.name ? user.name : 'Guest' %></p></a>
        </div>  
      </nav>
    </header>

    <!-- Main content -->
    <main>
      <section class="profile-Left">
        <!-- Profile picture -->
        
        <!-- <button id="meuBotao" class="toggle-button" onclick="mostrarRetangulo()">Mostrar/Esconder Retângulo</button> -->

        <!-- Rectangle content -->
        <div id="meuRetangulo" class="retangulo"><p></p></div>
      </section>

      <!-- Biography section -->
      <div class="bio-section">
        <label for="bio"></label>






        <form id="updateBioForm" onsubmit="submitBioUpdate(); return false;">
            <textarea id="bio" value="bio" name="updatedBio"  rows="15" cols="50"  maxlength="500"  placeholder="Write your biography here...">aaa</textarea>
            <button class="PosicaoBotao" type="submit">Submit Bio</button>


        <textarea id="country" readonly name="country" rows="1" cols="25" maxlength="500" placeholder="Put your country"><%= user.country && user.country ? user.country : 'Country not available' %></textarea>
        

        <!-- Character counter -->
        <div id="charCounter" class="char-counter">0/500</div>
      </div>

      <section class="profile-actions">
        <h1 class="ColorName2"><span><%= user.name ? user.name : 'Guest' %></span> </h1>
      </section>
    </main>

    <!-- Team box/menu -->
    <div id="rectangle"> test:</div>

    <script>
      // Select the button and the rectangle
      
      /*const toggleButton = document.getElementById('toggleButton');
      const rectangle = document.getElementById('rectangle');

      // Add an event listener for the button
      toggleButton.addEventListener('click', () => {
        // Check if the rectangle is visible or hidden
        if (rectangle.style.display === 'none') {
          // If hidden, show the rectangle
          rectangle.style.display = 'block';
        } else {
          // If visible, hide the rectangle
          rectangle.style.display = 'none';
        }
      }); */

      // Check if there's any stored data for the user's university
      if (localStorage.getItem('UniversityText')) {
        // If there is, set the value of the university text area with the saved content
        document.getElementById('University').value = localStorage.getItem('UniversityText');
      }

      // Add an event listener for the 'input' event in the textarea
      document.getElementById('University').addEventListener('input', function() {
        // Store the current content of the textarea in local storage
        localStorage.setItem('UniversityText', this.value);
      });

      // Check if there's any stored data for the user's country
      if (localStorage.getItem('CountryText')) {
        // If there is, set the value of the country text area with the saved content
        document.getElementById('country').value = localStorage.getItem('CountryText');
      }

      // Add an event listener for the 'input' event in the textarea
      document.getElementById('country').addEventListener('input', function() {
        // Store the current content of the textarea in local storage
        localStorage.setItem('CountryText', this.value);
      });

      // Check if there's any stored data for the user's biography
      if (localStorage.getItem('bioText')) {
        // If there is, set the value of the biography text area with the saved content
        document.getElementById('bio').value = localStorage.getItem('bioText');
      }

      // Add an event listener for the 'input' event in the textarea
      document.getElementById('bio').addEventListener('input', function() {
        // Store the current content of the textarea in local storage
        localStorage.setItem('bioText', this.value);
      });

      // Character counter for the biography textarea
      const bioTextarea = document.getElementById('bio');
      const charCounter = document.getElementById('charCounter');

      bioTextarea.addEventListener('input', () => {
        const currentLength = bioTextarea.value.length;
        charCounter.textContent = `${currentLength}/500`;
      });

      // Setting the user's name to be displayed on the page
      // Select all elements by class
      const globalNames = document.querySelectorAll('.global-name');

      // Set the content of each element
      globalNames.forEach(element => {
        element.textContent = '';
      });

    
    function submitBioUpdate() {
        var bio = document.getElementById('bio').value;
        fetch('/updateBio', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ updatedBio: bio }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('Bio updated successfully!');
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Failed to update bio.');
        });
    }
  
    const countryName = document.getElementById('countryName');
    const userName = document.getElementById('userName');
    const userNameHeader = document.getElementById('userNameHeader');
    const groupName = document.getElementById('groupName');
  
    const getDetails = async function() {
  
      try {
          
          const response = await fetch('/getDetailsUser');
          if (!response) {
              alert('Erro ao puxar detalhes do user');
          }userNameHeader
          const details = await response.json()
          console.log(details)

          countryName.innerHTML = details.country.name;
          userName.innerHTML = details.name;
          userNameHeader.innerHTML = details.name;
          groupName.innerHTML = details.group.name;
  
          
      } catch (error) {
          console.error(error);
      }
      
    }
  
    getDetails();
  
  
    </script>
  </body>
</html>
