<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap"rel="stylesheet"/>
    <link rel="stylesheet" href="styles/homePage.css" />

</head>
<body>
    <header>
        <nav class="header">
          <span class="Group-dropdown"><h2>Collor Group</h2></span>
          <div class="Pages">
           <!--inserir aqui o caminha para as páginas Team e Rating()-->
             <a href="/"><h3>Team</h3></a>
             <a href="/report"><h3>Rating</h3></a>
          </div>
     
          <div class="profile-info">
            <img class="Notificacao"src="images/Notificacao.svg" alt="notification button"/>
            <h3 class="Username">Username</h3>
            <img class="Image-Profile" src="images/PersonalPerfil.svg" alt="Perfil Photo"/>
          </div>
        </nav>
      </header>
    <main>
        <h1>Welcome to the Homepage</h1>
        <p>This is the main page of your project where you can navigate to different sections using the navigation bar above.</p>
    </main>
    <footer>
        &copy; 2024 P.L.S.. All rights reserved.
    </footer>
</body>
</html>